body {
  background-color:rgb(240, 241, 241);
}

.header {
  background-color: rgb(250, 171, 73);
  color: white;
}

img {
  height: 55%;
  object-fit: contain;
}

.item-card {
  width: 32%;
}

.pointer:hover {
  cursor: pointer;
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
  .item-card {
    width: 48%;
 }
 }

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .item-card {
    width: 100%;
 }
 .smaller-text {
   font-size: .8rem;
 }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .item-card {
    width: 100%;
    padding-top: 10%;
  }

}
