body {
  background-color:rgb(240, 241, 241);
}

.header {
  background-color: rgb(250, 171, 73);
  color: white;
}

img {
  height: 60%;
  object-fit: contain;
}

.item-card {
  width: 32%;
}

.pointer:hover {
  cursor: pointer;
}
