body {
  background-color:rgb(240, 241, 241);
}

.permanent-marker {
  font-family: 'Permanent Marker', cursive;
}

.header {
  background-color: rgb(250, 171, 73);
  color:rgb(0, 0, 0);
}

.hero {
  position: relative;
  width: 100%;
  height: 55vw;

}

.hero-text {
    color: white;
    z-index: 0;
}

.header-video {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: -1;
}

video{
  width: 100%;
}

img {
  height: 55%;
  object-fit: scale-down;
}

.item-card {
  width: 32%;
}

.pointer:hover {
  cursor: pointer;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
  z-index: 1;
}

.opening-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
}

.text-size-4 {
  font-size: 4rem;
}

.display-none {
  display: none;
}

.vis-hidden {
  visibility: hidden;
  z-index: -2;
}

.fade-in {
  animation: fade-in 1s;
  animation-fill-mode: forwards;
}

.fade-out {
  animation: fade-out .75s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.slide-in {
  animation: slide-in .75s;
  animation-fill-mode: forwards;
}

.slide-out {
  animation: slide-out .75s;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  0% { transform: translate3d(0, 100%, 0); }
  100% { transform: translate3d(0, 0%, 0); }
}

@keyframes slide-out {
  0% { transform: translate3d(0, 0%, 0); }
  100% { transform: translate3d(0, 100%, 0); }
}

.checkout-lables {
  font-size: .75rem;
}

.object-fit-width {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.large-orange-button {
  width: 100%;
  background-color: #FD8023;
  color: white;
  border-radius: 3px;
  padding: 15px 0;
}

.large-orange-button:hover {
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 3px;
  border: 1px solid #FD8023;
  padding: 15px 0;
}

.large-orange-button:active {
  width: 100%;
  background-color: grey;
  color: black;
  border-radius: 3px;
  border: 1px solid #FD8023;
  padding: 15px 0;
  transform: scale(.9);
}

.toast-container {
  position: fixed;
  top: 0;
  z-index: 1;
}

.toast-body-container {
  background-color: rgb(250, 171, 73);
  height: 4vw;

}

.w-60 {
  width: 67%;
}

.grey {
  color: rgb(162, 162, 162);
}

.white-bg {
  background-color: white;
}

.muted-button {
  color: rgb(183, 183, 183);
}
.muted-button:hover {
  cursor: default;
}

.detail-image-display {
  height: 100%;
  object-fit: contain;
}

.carousel-container {
  height: 100px;
  width: 80%;
  background-color: #fafafa;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius:4px;
}

.carousel-box {
  height: 100px;
  width: 200%;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.image-block{
  height: 300px;
  width: 50%;
}

.block-one {
  background-color: #8e24aa;
}

.block-two {
  background-color: #e65100;
}

.carousel-button {
  margin: auto;
  cursor: pointer;
  font-size:24px;
}

.move-right {
  transform: translateX(-50%);
  -webkit-transform:translateX(-50%);
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
  .item-card {
    width: 48%;
 }
 }

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .item-card {
    width: 100%;
 }
 .smaller-text {
   font-size: .8rem;
 }
 .text-size-4 {
  font-size: 2rem;
 }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .item-card {
    width: 100%;
    padding-top: 10%;
  }

}
